<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO2_87TyLHdq1R_fMMHR1lTrFeUJnbhac</string>
	<key>GCM_SENDER_ID</key>
	<string>1007016312771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.kimkim.DopamineFriends</string>
	<key>PROJECT_ID</key>
	<string>dopaminefriends-4ac8a</string>
	<key>STORAGE_BUCKET</key>
	<string>dopaminefriends-4ac8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007016312771:ios:4b6305d538e95d62800776</string>
</dict>
</plist>